/* CSS declarations go here */

.navbar {
  margin-bottom: 0px;
}

.row:not(:last-child) {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}


#login-dropdown-list {
  transform: translate(-45%, 5%);
}


.btn-link {
  color: black;
  text-decoration: none;
}

.btn-link:hover {
  color: black;
}

.btnGrp > * {
  padding: 5px;
}
